<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SearchLy</title>
<meta name="description"      content="Song similarity search API based on lyrics">
<meta name="author"           content="Albert Suarez">
<meta name="web_author"       content="Albert Suarez">
<meta name="keywords"         content="Song, Search, Similarity, Lyrics, SearchLy">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized"  content="320">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="apple-mobile-web-app-capable" content="yes">
<link rel="canonical" href="https://searchly.asuarez.dev/" hreflang="en">
<link rel="alternate" href="https://searchly.asuarez.dev/" hreflang="en">