/* Body */
body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.bg {
    background-image: url('../img/bg.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Page */
.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    position: relative;
    flex-wrap: wrap;
}

/* Card content */
.card-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

/* Form card */
#form-card {
    padding: 1vh;
    width: 45vh;
    min-width: 300px;
}

/* Result card */
#card-result {
    padding: 1vh;
    width: 50vh;
}

/* Space */
.space-padding {
    padding-top: 2vh;
}

/* Title */
.title {
    text-align: center;
    font-size: 2.5em !important;
    font-family: 'Russo One', sans-serif !important;
}

/* Button */
.button {
    text-align: center !important;
}

/* Carousel result */
.single-item .slick-arrow:before {
    display: none;
}

.single-item h2 {
    margin-bottom: -1.2em !important;
}

.single-item .ui.horizontal.statistics {
    align-items: center;
}

/* Responsive */
@media screen and (min-width: 576px) {

    #form-card {
        padding: 4vh;
        width: 70vh;
    }

    #card-result {
        padding: 4vh;
        width: 60vh;
    }

    .single-item .slick-arrow:before {
        color: #1b1c1d !important;
        display: block;
    }

}